@import "../../styles/sass/colors";
header {
  background-color: #15c7ff;
  nav {
    ul {
      list-style: none;
      gap: 1.3rem;
      padding: 20px;

      li {
        a {
          text-decoration: none;
          color: #ffffff;
          font-weight: 400;
        }
      }
    }
  }
  .btnRed {
    margin: 15px;
  }

  .linkSair {
    color: white;
  }
}
